.btn {
  display: inline-block;
  padding: 1rem 3.5rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.btn-primary {
  background: linear-gradient(
    to bottom,
    var(--secondary-bg-color),
    var(--primary-bg-color)
  );
  color: var(--primary-text-color);

  &:hover {
    transform: translateY(-0.25rem);
    scale: 1.023;
    box-shadow: 0 0.7rem 0.9rem rgba(0, 0, 0, 0.5);
  }
}
