:root {
  --primary-bg-color: #299345;
  --primary-text-color: #fff;
  --secondary-bg-color: #97c93c;
  --secondary-text-color: #fff;
  --base-bg-color: #232323;
  --base-text-color: var(--secondary-bg-color);
}
