:root {
  --primary-bg-color: #145c27;
  --primary-text-color: #fff;
  --secondary-bg-color: #28af4c;
  --secondary-text-color: #fff;
  --accent-bg-color: #a6ff00;
  --accent-text-color: #fff;
  --base-bg-color: #232323;
  --base-text-color: var(--secondary-bg-color);
}
